@model IEnumerable<Blog.Models.LatinPage>

@{
    ViewBag.Title = "Singers";
}

<link href="~/Content/latin-styles.css" rel="stylesheet" />

<h2 style="text-align:center" class="title">Latin Music Singers</h2>

<body style="background-color: indianred">

    <a href="@Url.Action("Index", "LatinPages")" style="font-family: Arial, Helvetica, sans-serif; color: black">
        << Back to main page
    </a>
    <br />
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/CarlosSantana.jpg');">
            <a target="_blank" href="http://www.santana.com/">
                <div class="type"><strong>Carlos Santana</strong></div>          
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/EnriqueIglesias.jpg');">
            <a target="_blank" href="http://www.enriqueiglesias.com/">
                <div class="type"><strong>Enrique Iglesias</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/GloriaEstefan.jpg');">
            <a target="_blank" href="http://www.gloriaestefan.com/">
                <div class="type"><strong>Gloria Estefan</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/JenniferLopez.jpg');">
            <a target="_blank" href="http://www.jenniferlopez.com/">
                <div class="type"><strong>Jennifer Lopez</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/Juanes.jpg');">
            <a target="_blank" href="http://www.juanes.net/">
                <div class="type"><strong>Juanes</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/MarcAnthony.jpg');">
            <a target="_blank" href="http://www.marcanthonyonline.com/">
                <div class="type"><strong>Marc Anthony</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/NellyFurtado.jpg');">
            <a target="_blank" href="https://en.wikipedia.org/wiki/Nelly_Furtado">
                <div class="type"><strong>Nelly Furtado</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/PrinceRoyce.jpg');">
            <a target="_blank" href="http://www.princeroyce.com/">
                <div class="type"><strong>Prince Royce</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/RickyMartin.jpg');">
            <a target="_blank" href="http://www.rickymartinmusic.com/">
                <div class="type"><strong>Ricky Martin</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/RomeoSantos.jpg');">
            <a target="_blank" href="http://www.romeosantosonline.com/home/">
                <div class="type"><strong>Romeo Santos</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/Shakira.jpg');">
            <a target="_blank" href="http://www.shakira.com/">
                <div class="type"><strong>Shakira</strong></div>
            </a>
        </div>
    </div>
    <div class="responsive">
        <div class="img" style="background-image: url('../../Content/img/LatinImgs/Thalia.jpg');">
            <a target="_blank" href="http://www.thalia.com/">
                <div class="type"><strong>Thalia</strong></div>
            </a>
        </div>
    </div>
</body>
